.password-item {
  background-color: #5763a5;
  border-radius: 5px;
  border: 1px solid #ffff;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  color: #ffff;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.password-details {
  display: flex;
  align-items: center;
}

.icon,
.stars-icon,
.delete-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

/* Responsive Design for PasswordItem */
@media (max-width: 768px) {
  .password-item {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .delete-button {
    grid-column: span 2;
    justify-self: center;
  }
}
